@model IEnumerable<QuyetTienWed.Models.BangSanPham>

@{
    ViewBag.Title = "Index";
}

<h2>Danh Sách Sản Phẩm</h2>

<p>
    <a href="@Url.Action("Create")" class="btn btn-primary">Create</a>
</p>
<table id="BangSanpham" class="table table-bordered table-hover tab-content">
    <thead>
        <tr>
            <th>
                Mã sản phẩm
            </th>
            <th>
                Tên sản phẩm
            </th>
            <th>
                Giá bán
            </th>
            <th>
                Giá gốc
            </th>
            <th>
                Giá góp
            </th>
            <th>
                Số lượng tồn
            </th>
            <th>
                Tên loại
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.MaSP
                </td>
                <td>
                    @item.TenSP
                </td>
                <td>
                    @item.GiaBan
                </td>
                <td>
                    @item.GiaGoc
                </td>
                <td>
                    @item.GiaGop
                </td>
                <td>
                    @item.SoLuongTon
                </td>
                <td>
                    @item.LoaiSanPham.TenLoai
                </td>

                <td>
                    <a href="@Url.Action("Edit", new { id = item.id})" class="btn btn-primary">
                    <span class="glyphicon glyphicon-pencil"> </span></a>
                    <a href="@Url.Action("Details", new { id = item.id})" class="btn btn-danger">
                        <span class="glyphicon glyphicon-eye-open"> </span> </a>
                    <a href="@Url.Action("Delete", new { id = item.id})" class="btn btn-success">
                        <span class="glyphicon glyphicon-remove"> </span> </a>
                </td>
            </tr>
        }
    </tbody>

    </table>
@section scripts{
<link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />

<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#BangSanpham').DataTable();
        });
    </script>
}
